@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Quicksand:wght@300;400;500;600;700&display=swap');



body{
  width: 100vw;
  height: 100vh;
  background: url('../public/images/repeated-bg.jfif');
}

::-webkit-scrollbar{
  width: 3px;
  height: 3px;
  background: #454545;
}

::-webkit-scrollbar-thumb{
  background: #393939;
  border-radius: 5px;
}

.no-scrollbar::-webkit-scrollbar{
  width:0px !important;
  height: 0px !important;
  background: none !important;
}